footer h2 {
  font-size: 24px;
  border-bottom: 1px solid #c4c4c4;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer h3 a {
  font-size: 18px;
}
#jobs {
  margin-bottom: 20px;
}
footer h2 > * {
  float: right;
  position: relative !important;
  top: 16px;
}
