footer {
  transition: opacity 0.5s ease;
}
footer:not([data-ready="true"]) {
  display: none;
}
body[data-mixing="true"] footer {
  opacity: 0;
}
footer h2 {
  font-size: 23px;
  border-bottom: 1px solid #c4c4c4;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer h3 a {
  font-size: 18px;
}
#jobs {
  margin-bottom: 20px;
}
footer h2 {
  font-family: Roboto;
  text-transform: none;
  font-weight: 100;
}
footer h2 > * {
  float: right;
  position: relative !important;
  top: 16px;
}

@media all and (min-width: 992px) {
  h2 {
    margin-top: 17px;
  }
}
